$primary: #00b9ea;
$secondary: #032846;
$tertiary: #00768d;
$pop: #e51147;
$white: #FFF;

$button-color: $white;
$button-background-color: $tertiary;
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import '~bulma';
